<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>919730539835-98k805nimtchh13qee19qjoemftlcflm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.919730539835-98k805nimtchh13qee19qjoemftlcflm</string>
	<key>API_KEY</key>
	<string>AIzaSyBlvtC-My8fblJ-7fnCRyB_FPJIHZMLvqg</string>
	<key>GCM_SENDER_ID</key>
	<string>919730539835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cars</string>
	<key>PROJECT_ID</key>
	<string>taxi-cf930</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-cf930.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:919730539835:ios:999405fd39bd3eddf2fb1e</string>
</dict>
</plist>